section.cards 
    .cards__container.container 
        .cards__items 
            .cards__item 
                +image('rice-img.png')
                .cards__descr
                    .cards__number 
                        span #24
                    .cards__weight 
                        span 400грам

