section.category
  .category__container.container
    .category__items 
      .category__item.category__item--acitve
        .category__img
          include ../../assets/images/rice.svg
        .category__text 
          span Основні
      .category__item
        .category__img
          include ../../assets/images/rice.svg
        .category__text 
          span Основні
      .category__item
        .category__img
          include ../../assets/images/rice.svg
        .category__text 
          span Основні
