section.language 
  .language__container.container
    .language__items 
      .language__item.language__item--active 
        span україньська
      .language__item 
        span english
      .language__item 
        span RU
